<html>
    <head>
        <title>

        <%= title %>
        </title>
    </head>
    <body>
        <header>
            
        </header>
        <h1>Codeial / <%= title%> </h1>
    </body>
</html>